<form action="/asciify/result" method='post'> 
  <h2>폰트를 골라주세요!</h2> 
  <select name="input_font"> 
      <option value="standard">일반</option> 
      <option value="big">크게</option> 
      <option value="thin">얇게</option> 
  </select>
  <h2>텍스트를 입력하세요!</h2> 
  <input type="text" name="input_text" placeholder="Input Text Here!">
  <h2>제출하기!</h2> 
  <input type="submit" value="Asciify!"> 
</form>